.FeaturedPlaylist {
  .content {
    .playText {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-bottom: -20px;
      .name_playlist {
        font-size: 20px;
      }
      h2 {
        font-size: 12px;
        font-weight: 500;
        color: rgb(190, 187, 187);
        cursor: pointer;
        &:hover {
          text-decoration-line: underline;
        }
      }
    }

    .newPlaylist {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;

      .playlist {
        cursor: pointer;
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: 30px;
        padding: 12px 12px;
        flex-direction: column;
        border-radius: 8px;
        position: relative;
        &:hover {
          background: rgba(128, 128, 128, 0.184);
          transition: 0.5s;
          .green {
            background: rgb(39, 194, 39);
            opacity: 1;
            margin-top: 78px;
          }
        }
        .playlistImg {
          max-width: 123.3px;
          width: 100%;
          max-height: 125px;
          height: 100%;
          border-radius: 5px;
        }
        h4 {
          font-size: 12px;
          padding: 5px 0px;
          width: 123.3px;
          height: 30px;
          color: rgb(190, 187, 187);
        }
        .green {
          cursor: pointer;
          align-items: center;
          justify-content: center;
          margin-left: 78px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgb(78, 231, 78);
          position: absolute;
          margin-top: 100px;
          transition: 0.3s;
          opacity: 0;
          &:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 43px;
            height: 43px;
            background: rgb(78, 231, 78);
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 0px;
            }
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-left: 3px;
            font-size: 20px;
            color: black;
          }
        }
      }
    }
  }
}
